@font-face {
    font-family: 'EASVHS';
    src: url('easvhs.ttf') format('truetype');
}

.banner
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}
.content h1 a{
    font-family: "easvhs";
    color: darkgray;
    position: relative;
    right: 70%;
    text-align: center;
    text-decoration: none;
    font-size: 120%;
}

h1 a:hover{
    color: white;
}

body{
    box-align: center;
}

.logo{
    z-index: 3;
    position: relative;
    right : 75%;
}
